.chat-header {
	color: white;
	background-color: red;
	text-align: center;
	font-size: 24px;
	padding: 4px;
}

.chatbox {
	align-items: right;
	width: 30%;
	min-height: 800px;
	max-width: 400px;
	display: flex;
	flex-direction: column;
	margin: 32px;
	margin-left: 0px;
}

.message-container {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	max-height: 700px;
}

.chat {
	height: 100%;
	display: flex;
	max-height: 800px;
	max-width: 500px;
	flex-direction: column;
	justify-content: space-between;
	border: 1px solid black;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.message-sent {
	margin-left: auto;
	display: flex;
	flex-direction: column;
}

.message-sender {
	margin-left: auto;
}

.chat-body {
	display: flex;
	flex-direction: column;
	align-items: top;
}

.message {
	margin: 8px;
}

.message-received {
	display: flex;
	flex-direction: column;
}

.text {
	padding-right: 6px;
}

.message-receiver {
	margin-right: auto;
}

.time {
	padding-left: 6px;
}

.sender-send {
	text-align: right;
}

.content-box {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: white;
	background-color: black;
	padding: 8px;
}

.chat-footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 8px;
}

.message-input {
	width: 100%;
	margin: 8px;
	padding: 8px;
}

.send-message {
	margin: 8px;
}