.room {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.videobox {
	display: flex;
	flex-direction: row;
	flex: 0.8;
}

.buttonbox {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.chat {
	flex: 0.2;
}

.video-canvas {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.canvas {
	margin: 32px;
	border: 1px solid black;
}