:root {
  --pixel-size: 6;
}
.room {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: url("./Sprites/background-gather-1.jpeg");
  width: 90rem;
  height: 52rem;
  background-size: cover;
  background-repeat: no-repeat;
}

.videobox {
  justify-content: flex-end;
  margin-top: -30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex: 0.8;
  height: 200px;
  position: relative;
}

.buttonbox {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 150px;
  height: 35px;
  transform: translate(390px, 200px);
  z-index: 2;
  background: linear-gradient(
    to right bottom,
    rgba(77, 77, 77, 0.7),
    rgba(49, 49, 49, 0.5)
  );
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
}

.chat {
  flex: 0.2;
}

.video-canvas {
  height: 760px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 100px;
  background: linear-gradient(
    to right bottom,
    rgba(77, 77, 77, 0.6),
    rgba(49, 49, 49, 0.2)
  );
  background-color: rgba(16 18 27 / 40%);
  border-radius: 1.5rem;
  backdrop-filter: blur(2rem);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
  padding: 15px 20px;
}

.video-container {
  display: flex;
  margin-top: 40px;
  flex-direction: column;
  position: relative;
  z-index: 1;
  /* margin-left: 250px; */
}

.person-name {
  color: white;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  z-index: 9;
  background: linear-gradient(
    to right bottom,
    rgba(77, 77, 77, 0.9),
    rgba(49, 49, 49, 0.8)
  );
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
  margin-top: 140px;
  margin-left: 10px;
  padding-left: 6px;
  padding-right: 6px;
  text-align: center;
  border: 1px solid rgb(168, 168, 168);
}

.video-style {
  height: 175px;
  width: 300px;
  border-radius: 10px;
}

.video-container-peer {
  display: flex;
  margin-top: 40px;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.person-name-peer {
  color: white;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  z-index: 9;
  background: linear-gradient(
    to right bottom,
    rgba(77, 77, 77, 0.9),
    rgba(49, 49, 49, 0.8)
  );
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
  margin-top: 140px;
  margin-left: 10px;
  padding-left: 6px;
  padding-right: 6px;
  text-align: center;
  border: 1px solid rgb(168, 168, 168);
}

.video-style-peer {
  height: 175px;
  width: 300px;
  border-radius: 20px !important;
}

.canvas {
  border-radius: 100px;
  transform: translate(0px, -50px);
}

.mute-1,
.screenshare-1 {
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  margin-top: 3px;
  margin-bottom: 2px;
  color: rgb(211, 211, 211);
  font-size: 16px;
  border-radius: 8px;
  margin-left: 10px;
  padding-left: 6px;
  padding-right: 6px;
}
.camera-1 {
  background-color: rgb(238, 238, 238);
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
  margin-bottom: 2px;
  color: black;
  font-size: 16px;
  border-radius: 8px;
  margin-left: 10px;
  padding-left: 6px;
  padding-right: 6px;
}
.screenshare:hover {
  background-color: rgb(238, 238, 238);
  color: black;
  font-weight: 700;
  cursor: pointer;
  font-weight: 700;
  transition-duration: 100ms;
}

.mute-1:hover {
  background-color: rgb(238, 238, 238);
  color: black;
  font-weight: 700;
  cursor: pointer;
  font-weight: 700;
  transition-duration: 100ms;
}
.camera-1:hover {
  background-color: rgb(238, 238, 238);
  color: black;
  font-weight: 700;
  cursor: pointer;
  font-weight: 700;
  transition-duration: 100ms;
}
.whitened {
  background-color: rgb(238, 238, 238);
  color: black;
  position: relative;
}
.cameraOff {
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  margin-top: 3px;
  margin-bottom: 2px;
  color: rgb(211, 211, 211);
  font-size: 16px;
  border-radius: 8px;
  margin-left: 10px;
}
.video-room {
  /* margin-top: 20px; */
  align-self: flex-start;
  position: relative;
}
.canvas {
  transform: translate(0px, 0px);
}

.character_spritesheet {
  width: calc(128px * var(--pixel-size));
}

.enable-ai {
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(16 18 27 / 60%);
  border-radius: 1.5rem;
  backdrop-filter: blur(2rem);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
  padding: 15px 20px;
  margin-top: 10px;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  margin-left: 70px;
  font-weight: 500;
}
.enable-ai:hover {
  background-color: rgba(16 18 27 / 80%);
  cursor: pointer;
  transition-duration: 150ms;
}

.enable-ai:not(:hover) {
  transition-duration: 150ms;
}

.aiBtnOn {
  animation: glow 1s linear infinite;
}

@keyframes glow {
  0% {
    background-color: rgba(16 18 27 / 90%);
    transition-duration: 150ms;
  }
  100% {
    background-color: rgba(16 18 27 / 60%);
    transition-duration: 150ms;
  }
}
.leave-room {
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(119, 0, 26, 0.747);
  border-radius: 1.5rem;
  backdrop-filter: blur(2rem);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 20px;
  padding: 15px 20px;
  margin-top: 10px;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  margin-left: 10px;
  font-weight: 500;
  margin-top: -82px;
  transform: translate(0px, -11px);
}
.leave-room:hover {
  background-color: rgba(168, 0, 36, 0.747);
  cursor: pointer;
  transition-duration: 150ms;
}

.leave-room:not(:hover) {
  transition-duration: 150ms;
}
